@font-face {
      	font-family: 'mehr';
		src: url('Mehr Nastaliq Web version 1.0 beta.ttf')  format('opentype');
      }

.user-avatar {
  border-radius: 99%;
}

.small-box{
  background-color: #dd5827;
  color: white;
}

.count{
  position: relative;
  margin: 40px 0;
  padding: 14px 16px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  background: rgba(255,255,255,0.1);
}
